ul li{
  list-style: none;
}

.list-chapter{
  overflow-y: auto;
  height: 400px; /* tentukan tinggi yang sesuai */
}
button{
  border: none;
}
.primary{
  background-color: #1e88e5;
}

  /* table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
   */

  .cover {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

/* CHAPTER KOMIK */
  .chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .chapter__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .chapter__title {
    font-size: 2rem;
    margin: 0;
  }
  
  .chapter__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .chapter__menu-item {
    margin-right: 1rem;
  }
  
  .chapter__menu-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .chapter__menu-link:hover {
    background-color: #555;
  }
  
  .chapter__menu-link:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .chapter__divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 2rem 0;
  }
  
  .chapter__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .chapter__image-item {
    list-style: none;
    margin: 1rem;
  }
  
  .chapter__image {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 0.5rem;
  }
  
  @media screen and (max-width: 768px) {
    /* .chapter__menu-link {
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem;
    } */
  
    .chapter__image {
      max-width: 100%;
    }
  }
  
  /* .hasil-search {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  } */
  
  
  .search {
    display: flex;
    flex-direction: column;
  }
  
  /* h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: gray;
  }
   */